.slider {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 100%; /* Make the slider responsive */
   background-color: #E6E7e8; 
}

.slide {
  position: relative;
  display: flex; /* Center the image */
  justify-content: center;
  align-items: center;
}

.slide-image {
  width: 80%; /* Keep this responsive */
  max-width: 100%; /* Ensure the image doesn't overflow the container */
  margin: auto; /* Center the image within the slider */
  transition: opacity 0.5s ease-in-out; /* Add a transition effect */
}

