.users-description{
    width: 1085px;
    height: 1085px;
    top: 369px;
    left: 291px;
    background-color: white;
    margin-top: 15px;
    margin-left: 30px;
    border-radius: 20px;
}
.user-top-bar{
    display: flex;
         }
.all-users{
display: flex;
font-size:23px;
margin-top:50px;
 margin-left: 27px;
 font-weight: 400;
}
.user-add-exp-btn{
  display: flex;
  gap: 20px;
  padding: 10px 24px 10px 16px;
  margin-top:60px;
  margin-left: 270px;
 }
   .user-export-btn{
    width: 108px;
    height:40px;
    padding: 10px 24px 10px 16px;
   margin-left: 300px;
    border-radius: 10px;
    gap: 8px;
    background-color: rgb(243, 242, 244);
    display: flex;
   }
   .user-export-text{
font-size: 14px;
font-weight: 500;
line-height: 20px; 
letter-spacing: 0.10000000149011612px;
text-align: center;
   }
